* {
	box-sizing: border-box;
}
.body {
	display: flex;
	min-height: 100vh;
	flex-direction: row;
	margin: 0;
	font-family: 'Source Serif Pro', serif;
	color: #cfdbd5;
	background: #001d3d;
}

header {
	background: #333533;
	height: 10vh;
	text-align: center;
	box-shadow: 0 4px 6px #333533;
	z-index: 2;
}

.header {
	text-decoration: none;
	color: honeydew;
}

.header:hover {
	text-decoration: underline;
}

.navbar {
	background: #242423;
	flex: 1;
	text-align: center;
}

.leader {
	text-decoration: none;
} /* not working */

.content {
	display: flex;
	flex-direction: column;
	flex: 5;
}

header,
article,
.navbar,
footer {
	padding: 1em;
}

article {
	text-align: center;
	background: #001d3d;
	background-repeat: no-repeat;
	background-size: auto;
}

.react-player {
	justify-content: center;
} /* not working */
